<%- include('partials/_header') %>

<div class="container"> <%# contenedor %>
    <div class="row mt-5"> <%# contenedor de filas %>
        <div class="col-md-2"> <%# formulario %> 
            <div class="card"> <%# div para margen del div %>
                <div class="card-body"> <%# div para margen del div %>
                    <form action="/update/<%= data.cc_usuario %>" method="POST">
                        <div class="form-group"> <%# div para cada input %>
                            <input type="number" name="cc_usuario" value="<%= data.cc_usuario %>" class="form-control">
                        </div>
                        <div class="form-group"> <%# div para cada input %>
                            <input type="text" name="nombre_usuario" value="<%= data.nombre_usuario %>" class="form-control">
                        </div>
                        <div class="form-group"> <%# div para cada input %>
                            <input type="text" name="apellido_usuario" value="<%= data.apellido_usuario %>" class="form-control">
                        </div>
                        <div class="form-group"> <%# div para cada input %>
                            <input type="email" name="usuario" value="<%= data.usuario %>" class="form-control">
                        </div>
                        <div class="form-group"> <%# div para cada input %>
                            <input type="password" name="contraseña_usuario" value="<%= data.contraseña_usuario %>" class="form-control">
                        </div>
                        <div class="form-group"> <%# div para cada input %>
                            <input type="text" name="tipo_usuario" value="<%= data.tipo_usuario %>" class="form-control">
                        </div>
                        <button type="submit" class="btn btn.primary"> Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>

